/* CSS for nav */
span{
    margin : 5px;
}

button{
    margin: 5px;
    width: 6rem;
    /* margin: 0 4rem; */
    box-sizing: border-box;
    padding: 0.8rem 0.4rem;
    background:#71b7e6;
    border-radius: 0.4rem;
    margin: 0 6rem;
}
body{
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
}


header > div{
    display: flex;
    justify-content: flex-start;
    
}

#logout{
    margin-left: auto;
}

.hide{
    display: none;
}
#curr{
    padding: 10px;
}
.choose-expense{display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
border: 0.4rem solid #a389b7;
padding: 2rem;
background-color:whitesmoke;
}