/* CSS for nav */
nav {
    background-color: #409aa4;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

/* CSS for header */
header {
    background-color:linear-gradient(-135deg, #71b7e6, #9b59b6);
    padding: 20px;
    text-align: center;
}

header button {
    margin: 5px;
}

/* CSS for choose-expense */
.choose-expense {
    margin: 20px auto;
    width:40%;
}

.choose-expense form {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 0.8rem solid #a389b7;
        padding: 2rem;
        background-color: whitesmoke;
    
}

.choose-expense label {
    font-size: large;
    margin: 0.5rem;
}

.choose-expense input
.choose-expense select{
padding: 0.4rem;
width: 21rem;
border-radius: 0.4rem;
font-size: medium;
margin: 0.5rem;

}
.choose-expense button {
    width: 6rem;
    /* margin: 0 4rem; */
    box-sizing: border-box;
    padding: 0.8rem 0.4rem;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    border-radius: 0.4rem;
    margin: 0 6rem;
}

/* CSS for display */
.display {
    margin: 20px auto;
    width: 80%;
}

.display ul {
    list-style: none;
    padding: 0;
}

.display ul li {
    margin-bottom: 10px;
}

/* CSS for page */
.page {
    margin: 20px auto;
    text-align: center;
}

.page-btn {
    margin: 5px;
}

/* CSS for number-of-expenses */
.number-of-expenses {
    margin: 20px auto;
    text-align: center;
}

/* CSS for download-expense */
#download-expense {
    display: block;
    margin: 20px auto;
}

/* CSS for download-urls */
#download-urls {
    margin: 20px auto;
    text-align: center;
}

#download-urls ul {
    list-style: none;
    padding: 0;
}

#download-urls h3 {
    margin-bottom: 10px;
}

/* CSS for hide class */
.hide {
    display: none;
}