/* CSS for nav */
span{
    margin : 5px;
}

button{
    margin: 5px;
}
body{
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
}


header > div{
    display: flex;
    justify-content: flex-start;
}

#logout{
    margin-left: auto;
}

.hide{
    display: none;
}
#curr{
    padding: 10px;
}
.choose-expense{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 0.4rem solid #a389b7;
        padding: 2rem;
        background-color:#71b7e6;
        font-size:18px;
    
}
.choose-expense button{
    width: 6rem;
    /* margin: 0 4rem; */
    box-sizing: border-box;
    padding: 0.8rem 0.4rem;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    border-radius: 0.4rem;
    margin: 0 6rem;
}
.page {
    margin: 20px auto;
    text-align: center;
}

.page-btn {
    margin: 5px;
}

/* CSS for number-of-expenses */
.number-of-expenses {
    margin: 20px auto;
    text-align: center;
}
/* #download-expense {
    display: block;
    margin: 20px auto;
}

/* CSS for download-urls */
/* #download-urls {
    margin: 20px auto;
    text-align: center;
}

#download-urls ul {
    list-style: none;
    padding: 0;
}

#download-urls h3 {
    margin-bottom: 10px;
}

/* CSS for hide class */
/* .hide {
    display: none;
} */ 
